$tan: #f0dfb4;
$reddish: #600;
$dark-gray: #333;
$white: #fff;
$main-nav-color:#510073;
$nav-text-color:#d8adf3;
$break-one: 46.25rem;

$stars-color:#6f20a0;
$stars-svg-url:'../svg/218-star-full.svg';

// favorite icon
$heart-color:white;
$heart-svg-url:'../svg/219-heart.svg';